#top {
/* 上下に20pxの余白を入れて、画面の中央に配置します。 */
/* 中にあるp要素が中央揃えになるようにします。 */
  margin: 20px auto;
  text-align: center;
  width: 800px;
  background-color: #dcc9f4;
}
.top-child {
  /* 3つのp要素が横並びになるようにします。 */
  display: inline-block;
  width: 20%;
  background-color: #ffd9df;
}
#middle {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 800px;
  background-color: #ffd9df;
}
#middle-child01 {
  /* id名「middle」の上から100px、左から100px */
  position: absolute;
  top: 100px;
  left: 100px;
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
}
#middle-child02 {
  /* （id名「middle」）の上から300px、左から300px */
  position: absolute;
  top: 300px;
  left: 300px;
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
}
#middle-child03 {
  /* id名「middle」）の上から500px、左から500px */
  position: absolute;
  top: 500px;
  left: 500px;
  width: 200px;
  height: 200px;
  background-color: #87ceeb;
}
#bottom {
  /* 中央配置 */
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 300px;
  background-color: #87ceeb;
}
#bottom-child01 {
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
}
#bottom-child02 {
  /* 本来の場所のひだり200ｐｘ */
  position: relative;
  left: 200px;
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
}
#bottom-child03 {
    /* 本来の場所のひだり400ｐｘ */
  position: relative;
  left: 400px;
  top: 200px;
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
}
